<a href="{{largeImageURL}}" class="gallery-link">
      <div class="photo-card">
  <img src="{{webformatURL}}" alt="{{tags}}" loading="lazy" />
  <div class="info">
    <p class="info-item">
      <b>Likes</b> 
      <span class="quantity">{{likes}}</span>
    </p>
    <p class="info-item">
      <b>Views</b>
      <span class="quantity">{{views}}</span>
    </p>
    <p class="info-item">
      <b>Comments</b>
      <span class="quantity">{{comments}}</span>
    </p>
    <p class="info-item">
      <b>Downloads</b>
      <span class="quantity">{{downloads}}</span>
    </p>
  </div>
</div>
      </a>